/* Styles for the places class */
.places {
    display: flex;
    margin: 15px auto;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Styles for the h1 type title that is inside the places class */
.places h1 {
    max-width: 1000px;
    width: 100%;
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 30px;
}

/* information card styles */
.places article {
    width: 390px;
    margin: 20px;
    padding: 10px 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

/* Styles for h2 type subtitle */
article h2 {
    font-size: 30px;
    padding: 0;
    margin: 10px auto;
}